.load-save {
    outline: none;
    background: linear-gradient(to right, #fff5, #fff0, #0000);
    background-size: 200% 100%;
    background-position: 99%;
    border-bottom: 1px solid #fff;
    border-image: linear-gradient(to right, #fff, #fff0, #0000);
    border-image-slice: 1;
    text-align: left;
}

.load-save:hover {
    outline: none;
    border: 0px solid;
    border-bottom: 1px solid #fff;
    border-image: linear-gradient(to right, #fff, #fff0);
    border-image-slice: 1;
    box-shadow: none;
    background-position: 0%;
}

#show-data {
    display: flex;
    flex-direction: column;
    width: 10%;
}