<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <title>NerFW</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/dialogue_menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/choices.css') }}">

    <script src="/static/scripts/forward.js"></script>
    <script src="/static/scripts/register_choice.js"></script>
    <script src="/static/scripts/backward.js"></script>
    <script src="/static/scripts/save.js"></script>
    <script src="/static/scripts/auto_play.js"></script>
</head>

<body id="body_element">
    <audio id='player' class='my_audio' autoplay="autoplay">
        <source src="" type="audio/mp3">
    </audio>
    <div id="show-data">

    </div>
    <div class="button_div"><button onclick="PlayAudio('')">Enable sound</button></div>
    <div id="dialogue_menu">
        <div id="wrapper" style="display: flex;flex-direction: row;justify-content: space-between;align-self: flex-end;width: 100%;">
          <div style="display: flex;flex-flow: row;margin: 10px 10px 10px 10px;">
            <div id="back" class="button_div"><button onclick="BackwardFunction()">back</button></div>
            <div id="next" class="button_div"><button onclick="ForwardFunction()">next</button></div>
          </div>
          <div style="display: flex;flex-flow: row;margin: 10px 10px 10px 10px;">
            <div id="main_menu" class="button_div"><button onclick="window.location.href='/'">main_menu</button></div>
            <div id="save" class="button_div"><button onclick="SaveFunction()">save</button></div>
          </div>
        </div>

        <form method="POST" style="margin: 10px 20px;">
            <div id="char-name">

            </div>
            <div id="char-text">

            </div>
        </form>
    </div>

</body>
</html>