<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NerFW</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<script>
function ForwardFunction() {
    $.ajax({
        url: "/forward",
        type: "POST",
        data: {}
    }).done(function(response) {
        document.getElementById("show-data").innerHTML = response.result;
    });
};
</script>

<body>
    <p>
        Taking input from web<br><br>
        <button id="clicked" onclick="ForwardFunction()">Submit</button>
    </p>
    <div id="show-data">

    </div>
</body>
</html>