<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <title>NerFW</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/load_game.css') }}">

    <script src="{{ url_for('static', filename='scripts/load_save.js') }}"></script>
</head>

<body id="body_element">
    <button onclick="window.location.href='/'">main_menu</button>
    <div id="show-data">
        {{ html | safe }}
    </div>
</body>
</html>