<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <title>NerFW</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/load_game.css') }}">

</head>

<body id="body_element">
    <button onclick="window.location.href='/'">main_menu</button>
    <div id="show-data">
        <button class="load-save">10.9.2023 Something</button>
        <button class="load-save">10.10.2023 Something</button>
        <button class="load-save">10.11.2023 Something</button>
        <button class="load-save">10.12.2023 Something</button>
    </div>

</body>
</html>