<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <title>NerFW</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login.css') }}">

    <script src="/static/scripts/forward.js"></script>
    <script src="/static/scripts/register_choice.js"></script>
    <script src="/static/scripts/backward.js"></script>
    <script src="/static/scripts/save.js"></script>
</head>


<body id="body_element">
    <div id="show-data">

    </div>
    <div id="login_menu" class="login-wrapper">
        <form method="POST">
            <input type="text" id="Login" name="Login" required="" minlength="4" maxlength="20" size="20" style="margin: 0 0 5%;" placeholder="Login">
            <input type="text" id="Password" name="Password" required="" minlength="4" maxlength="20" size="20" style="margin: 0 0 5%;" placeholder="Password">
            <input type="submit" id="Submit" name="Submit" size="20" value="Submit" style="margin: 0 0 5%;">
        </form>
    </div>

</body>
</html>