.outterWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.innerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 20px #ccc;
    background-color: #00000030;
    padding: 20px 20px 20px 20px;
}

button {
    margin: 10%;
    background-color: #ffffff20;
}

img {
    margin: 5%;
    border-radius: 15px;
}